alembic==1.0.11
aniso8601==7.0.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==0.12.2
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
idna==2.6
itsdangerous==1.1.0
Mako==1.2.2
MarkupSafe==1.1.1
marshmallow==2.19.5
Paginator==0.5.1
psycopg2==2.8.3
pycparser==2.19
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
requests==2.18.4
six==1.12.0
SQLAlchemy==1.2.2
SQLAlchemy-Utils==0.33.9
urllib3==1.22
Werkzeug==0.15.5
